select, input, textarea, .inputLike {
	margin: 5px;
	border: 1px solid var(--color-primary);
	outline: none;
	transition: background-color 300ms, color 300ms, border-color 300ms;
	background-color: var(--color-inside-surface);
	
	&:focus {
		background-color: var(--color-primary-light);
		border-color: var(--color-primary-dark);
		color: var(--color-primary-dark);
	}
	
	&.warn {
		border-color: red;
	}
}

label, .labelLike {
	display: inline-flex;
	flex-direction: column;
	align-items: start;
	max-width: 250px;
	
	> small:first-child {
		display: block;
		z-index: 1;
		pointer-events: none;
		margin-bottom: -10px;
		padding: 0 4px;
		color: var(--color-primary);
		background-color: var(--color-inside-surface);
	}
	> small:last-child {
		margin: -3px 0 10px 5px;
		font-size: x-small;
		color: gray;
	}
	input {
		accent-color: var(--color-primary-dark);
	}
	input[type="checkbox"], input[type="radio"] {
		margin: 20px 0 15px 5px;
	}
	.mainContent, .inputLike {
		padding: 10px;
		margin: 5px;
	}
}

form {
	padding: 5px;
	
	input[type="text"], input[type="number"], input[type="password"], input[type="datetime-local"], input[type="date"], input[type="time"] {
		width: 150px;
		padding: 5px;
	}
	button, input[type="submit"] {
		padding: 5px;
		margin: -1px 1px 1px -1px;
		cursor: pointer;
		border-radius: 10px;
		box-shadow: 1px 1px 1px var(--color-shadow);
		
		border: 1px solid white;
		background-color: var(--color-primary);
		color: white;
		
		&:hover {
			background-color: var(--color-primary-dark);
		}
		&:active {
			margin: 0;
			box-shadow: unset;
		}
		&[disabled] {
			background-color: lightgray;
			color: white;
			cursor: unset;
		}
	}
	
	select {
		min-width: 161px;
		padding: 5px;
	}
	
	textarea {
		width: 150px;
		min-height: 100px;
		padding: 5px;
	}
}