:root {
	--color-background: white;
	--color-surface: #f8faff;
	--color-shadow: #0003;
	--color-inside-surface: white;
	--color-primary: #86CD82;
	--color-accent-light: #BBD1EA;
	--color-accent: #A1C6EA;
	--color-accent-dark: #507DBC;
	--radius: 10px;
	
	--paw-prints-z-index: 100;
}

body {
	/*font-family: Trebuchet MS, Helvetica, sans-serif;*/
}

a, .clickable {
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	color: var(--color-accent-dark);
	transition: color 300ms ease-in-out;
	
	&:hover {
		color: var(--color-accent);
	}
	
	svg {
		fill: var(--color-accent-dark);
		transition: fill 300ms;
	}
	
	&:hover svg {
		fill: var(--color-accent);
	}
}


.smallText {
	font-size: small;
}
.textCentered {
	text-align: center;
}
.warn {
	color: red !important;
}
.aboveNormal {
	z-index: 1;
}
.abovePawPrints {
	z-index: calc(var(--paw-prints-z-index) + 1);
}
.aboveEverything {
	z-index: calc(var(--paw-prints-z-index) + 2);
}

.horizontal, .vertical {
	gap: 5px;
	
	&.noGap {
		gap: 0;
	}
	
	&.fullLine {
		display: flex;
		width: 100%;
	}
	
	&.maxWidth {
		max-width: 100%;
	}
	
	> .fillSpace {
		flex: 1 1 auto;
	}
	
	> .selfAlignStart {
		align-self: flex-start;
	}
	> .selfAlignCenter {
		align-self: center;
	}
	> .selfAlignEnd {
		align-self: flex-end;
	}
}

.horizontal {
	display: inline-flex;
	flex-direction: row;
	
	&.vAlignStart {
		align-items: flex-start;
	}
	&.vAlignCenter {
		align-items: center;
	}
	&.vAlignStretched {
		align-items: stretch;
	}
	&.vAlignEnd {
		align-items: flex-end;
	}
	
	&.hAlignSpaced {
		justify-content: space-between;
	}
	&.hAlignCenter {
		justify-content: center;
	}
	&.hAlignEnd {
		justify-content: flex-end;
	}
	
	&.wrapContent {
		flex-wrap: wrap;
	}
}
.vertical {
	display: inline-flex;
	flex-direction: column;
	
	&.reversed {
		flex-direction: column-reverse;
	}
	
	&.hAlignStart {
		align-items: flex-start;
	}
	&.hAlignCenter {
		align-items: center;
	}
	&.hAlignEnd {
		align-items: flex-end;
	}
	&.hAlignStretched {
		align-items: stretch;
	}
	
	&.vAlignStart {
		justify-content: flex-start;
	}
	&.vAlignCenter {
		justify-content: center;
	}
	&.vAlignEnd {
		justify-content: flex-end;
	}
	
	&.wrapContent {
		flex-wrap: wrap;
	}
}