.box {
	white-space: wrap;
	word-wrap: anywhere;
	
	
	.data {
		white-space: wrap;
		display: inline;
		padding: 2px 3px;
		background-color: var(--color-accent-light);
	}
	
	.optional {
		display: inline;
		color: dimgray;
		padding: 0;
	}
}

.codeBox {
	/* Used for Unit Tests*/
}