.preselectBox {
	width: 100%;
	
	:global .inputLike {
		align-self: stretch;
		
		.entry::after {
			content: ", "
		}
	}
}
.differences {
	border: 1px solid var(--color-primary);
	padding: 5px;
	white-space: wrap;
	
	pre {
		display: inline;
	}
	
	.added {
		color: darkgreen;
		background-color: lightgreen;
	}
	.removed {
		color: darkred;
		background-color: lightcoral;
	}
}