.BtnWidget {
	&:hover svg {
		fill: var(--color-primary-light);
	}
	
	svg {
		fill: var(--color-primary-dark);
		transition: fill 300ms;
	}
	
	&.empty {
		visibility: hidden;
		width: var(--btnSize);
		height: var(--btnSize);
	}
}
