@keyframes spin {
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}

.LoadingSpinner {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 2px;
	
	border: 5px solid var(--color-accent-dark);
	border-radius: 50%;
	animation: spin 2s linear infinite;
	border-top-color: rgba(0,0,0,0);
	
	&.hidden {
		display: none;
	}
	&.reserveSpace.hidden {
		display: inline-block;
		visibility: hidden;
		animation: none;
	}
}
