@keyframes fade-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
.FeedbackIcon {
	display: inline-block;
	width: var(--btnSize);
	height: var(--btnSize);
	animation: fade-out 2s ease-in-out;
	opacity: 0;
	
	&.hidden {
		animation: unset;
		display: none;
	}
	&.reserveSpace.hidden {
		display: inline-block;
		visibility: hidden;
		animation: none;
	}
	
	&.failed svg {
		fill: red;
	}
	&.success svg {
		fill: green;
	}
}


label .FeedbackIcon, :global .labelLike :local .FeedbackIcon {
	margin: -9px 0;
}